<section id="contact">
    <div class="widthcontroll autoY on-colour">
        <h2>CONTACT&nbsp;US</h2>
        <div class="adaptive">
        <div class="content">
            <h3>Tariff</h3>
            <dl>
            <dt>Minimum 10 person package</dt>
            <dd>&pound;2500 total</dd>
            </dl>
        </div>
        <div class="content">
            <h3>Details</h3>
            <p>To discuss your specific requirements and get a personalised package estimate please contact us on <a href="mailto:enquiries@teamxtremes.co.uk" target="_email">enquiries@teamxtremes.co.uk</a></p>
        </div>
    </div>
</section>