<title>TeamXtremes | Unleash your spitit of adventure</title>
<link rel="icon" href="<%= require('../images/favicon.ico') %>">
<meta description="Adventure and team building activities planners who are specialist ex military trainers">
<meta keywords="Adventure, team building, Survival, wilderness, bespoke team building, UK based">
<script>document.documentElement.className = 'js';</script>
<style>html.js{display: none}</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//code.jquery.com' />