<section id="location">
    <div class="widthcontroll autoY">
        <h2>LOCATION</h2>
        <div class="adaptive">
        <div class="content full on-colour">
            <p>We are located on Private Land in the Sussex Countryside Close to Gatwick Airport, 26 miles from the City of London.</p>
        </div>
        </div>
    </div>
</section>