<nav id="mainnav">
    <div class="widthcontroll">
      <a id="logo" href="#intro">
        <span class="image"></span>
        <span class="name">Team<span class="redBold">X</span>tremes</span>
      </a>
      <a href="#" id="mobileNav" aria-enabled="false"><span class="screenreader">Toggle menu</span></a>
      <div id="sectionNav">
        <a href="#overview">OVERVIEW</a>
        <a href="#whatwedo">WHAT WE DO</a>
        <a href="#location">LOCATION</a>
        <a href="#testimonials">TESTIMONIALS</a>
        <a href="#gallery">GALLERY</a>
        <a href="#contact">CONTACT&nbsp;US</a>
      </div>
    </div>
  </nav>