<section id="overview">
    <div class="widthcontroll autoY pause-anim">
        <h2>COMPANY OVERVIEW</h2>
        <div class="adaptive">
        <div class="content pause-anim-y pause-anim-delay-1">
            <h3>A Unique company that delivers expert advice and training on many levels.</h3>
            <p>The two founding directors have worked and operated in some of the most challenging environments on earth ,together they bring over 50 years experience that brings awareness and insight - Both have served in UKSF and want to pass on the knowledge gained over time to help individuals and companies realize their potential and reach their goals.</p>
        </div>
        <div class="content pause-anim-y pause-anim-delay-2">
            <img src="<%= require('../images/ml_1.jpg') %>" alt="trainer in a polar environment" />
        </div>
        </div>
        <h2>WHO WE ARE</h2>
        <div class="adaptive">
        <div class="content full pause-anim-y pause-anim-delay-1">
            <h3>We are a small team who have worked together all over the World on Operations, Exercises and in the commercial sector for the past 20 years.</h3>
            <p>All our Instructors are recent Ex members from 22 SAS, SBS and the Parachute Regiment. We are the only Survival School offering this quality of Instructor in the UK. We have experience in all Theatres and Terrain including: Desert, Arid & Scrub, Jungle and Rainforest, Arctic and Polar (Our Chief Instructor who is always in attendance has completed several Unsupported Expeditions to the South Pole). The CI has been involved for over 5 years with 22 SAS Selection as Instructor& Chief Instructor. All staff have passed the SAS Survival Course including Escape and Evasion (SERE).</p>
            <p>We run a very relaxed regime with the emphasis on enjoyment and fun whilst providing some basic education for you to retain a few vital tips for your Comfort and Survival in any environment from an Expedition to an outdoor Holiday or event.</p>
            <br/>
            <h3>We are a company who support military charities , Veterans and the wider military community</h3>
        </div>
        </div>
    </div>
</section>