<section id="testimonials">
    <div class="widthcontroll autoY">
        <h2>TESTIMONIALS</h2>
        <div class="adaptive">
        <div class="content full on-colour">
            <blockquote>
                <span class="quote">
                    The series of courses we ran for middle and senior management were excellent.<br/>
                    They were very professionally run and gave our people a thought provoking look at leadership, management and communication in a completely different environment to theirs.<br/>
                    Highly recommended.
                </span>
                <span class="quoting">George Herd, Farmfoods Ltd.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    Mark and the team at TeamXtremes did an outstanding job at organising and assisting me on various trips.<br/>
                    They helped and guided myself and some colleagues up to Everest Base Camp in 2017 and Ben Nevis in December 2018.<br/>
                    The Knowledge and expertise the guys have is second to none and the advice on the right kit and equipment was invaluable.<br/>                    
                    When choosing TeamXtremes you will be choosing one of the best teams in the business.
                </span>
                <span class="quoting">Ciaran Rafferty, SVP Clearswift.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    <strong>Clay Pigeon Day</strong>:&nbsp;
                    What a day!  Following a friend's recommendation I took my teams of shift working engineers for a rare team away day,<br/>
                    clay pigeon shooting under the expert and professional tuition of Mark and his team.<br/>
                    It surpassed all expectations with the team loving it from beginning to end and they still talk about it.<br/>
                    I highly recommend it and great value for money!<br/><br/>
                    <strong>Great Team Day</strong>:&nbsp;
                    After the success of our clay pigeon day, I took my team to TeamXtremes for another development and team building day.<br/>
                    The team and a few new starters loved it.<br/>
                    A perfect balance of fun and competition in a safe environment with the same expert oversight from Mark and his team which left the team buzzing again.<br/>
                    Given they're a bunch of engineers this was no mean feat! I can't recommend it enough.
                </span>
                <span class="quoting">George Carney, Gatwick Airport.</span>
            </blockquote>
        </div>
        </div>
    </div>
</section>