<section id="testimonials">
    <div class="widthcontroll autoY">
        <h2>TESTIMONIALS</h2>
        <div class="adaptive">
        <div class="content full on-colour">
            <blockquote>
                <span class="quote">The series of courses we ran for middle and senior management were excellent.  They were very professionally run and gave our people a thought provoking look at leadership, management and communication in a completely different environment to theirs.  Highly recommended.</span>
                <span class="quoting">George Herd, Farmfoods Ltd.</span>
            </blockquote>
        </div>
        </div>
    </div>
</section>