<section id="testimonials">
    <div class="widthcontroll autoY">
        <h2>TESTIMONIALS</h2>
        <div class="adaptive">
        <div class="content full on-colour">
            <blockquote>
                <span class="quote">
                    The series of courses we ran for middle and senior management were excellent.<br/>
                    They were very professionally run and gave our people a thought provoking look at leadership, management and communication in a completely different environment to theirs.<br/>
                    Highly recommended.
                </span>
                <span class="quoting">George Herd, Farmfoods Ltd.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    Mark and the team at TeamXtremes did an outstanding job at organising and assisting me on various trips.<br/>
                    They helped and guided myself and some colleagues up to Everest Base Camp in 2017 and Ben Nevis in December 2018.<br/>
                    The Knowledge and expertise the guys have is second to none and the advice on the right kit and equipment was invaluable.<br/>                    
                    When choosing TeamXtremes you will be choosing one of the best teams in the business.
                </span>
                <span class="quoting">Ciaran Rafferty, SVP Clearswift.</span>
            </blockquote>
        </div>
        </div>
    </div>
</section>