<section id="testimonials">
    <div class="widthcontroll autoY">
        <h2>TESTIMONIALS</h2>
        <div class="adaptive">
        <div class="content full on-colour">
            <blockquote>
                <span class="quote">
                    The series of courses we ran for middle and senior management were excellent.<br/>
                    They were very professionally run and gave our people a thought provoking look at leadership, management and communication in a completely different environment to theirs.<br/>
                    Highly recommended.
                </span>
                <span class="quoting">George Herd, Farmfoods Ltd.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    Mark and the team at TeamXtremes did an outstanding job at organising and assisting me on various trips.<br/>
                    They helped and guided myself and some colleagues up to Everest Base Camp in 2017 and Ben Nevis in December 2018.<br/>
                    The Knowledge and expertise the guys have is second to none and the advice on the right kit and equipment was invaluable.<br/>                    
                    When choosing TeamXtremes you will be choosing one of the best teams in the business.
                </span>
                <span class="quoting">Ciaran Rafferty, SVP Clearswift.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    <strong>Clay Pigeon Day</strong>:&nbsp;
                    What a day!  Following a friend's recommendation I took my teams of shift working engineers for a rare team away day,<br/>
                    clay pigeon shooting under the expert and professional tuition of Mark and his team.<br/>
                    It surpassed all expectations with the team loving it from beginning to end and they still talk about it.<br/>
                    I highly recommend it and great value for money!<br/><br/>
                    <strong>Great Team Day</strong>:&nbsp;
                    After the success of our clay pigeon day, I took my team to TeamXtremes for another development and team building day.<br/>
                    The team and a few new starters loved it.<br/>
                    A perfect balance of fun and competition in a safe environment with the same expert oversight from Mark and his team which left the team buzzing again.<br/>
                    Given they're a bunch of engineers this was no mean feat! I can't recommend it enough.
                </span>
                <span class="quoting">George Carney, Gatwick Airport.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    It was such an awesome day out, couldn't recommend more highly!<br/>
                    Mark was lovely and it was so interesting hearing his stories and how he applied the skills he taught us to real life situations. You never know when you might need them!<br/>
                    I learnt more than I expected to and Mark was very patient with us all whilst we were getting to grips with our newly found skills. Shooting shotguns and rifles and managing to hit a few targets was a particular highlight!
                </span>
                <span class="quoting">Jennie, BMG.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    Wasn't sure what to expect but can honestly say it was one of the best experiences I've ever done.<br/>
                    The day was varied, fast moving and we learnt a lot (I'm feeling very cocky about my fire making and water purification skills&hellip; just need some spare socks and a silver birch tree).<br/>
                    Mark was great and made it fun along the way, talking about his previous experiences and how all the skills he was teaching us come in to play.<br/>
                    Above all It was great to bond with my colleagues from other departments outside of it being work drinks
                </span>
                <span class="quoting">Katie, BMG.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    Fun, new and intense experiences. Mark showed us good glimpse of what it was like to be on the field - his experience and stories were great to listen to and learn from.<br/>
                    Rabbits and clay pigeons are now all that I can think of. Will reminisce of them whilst sipping my scotch.<br/>
                    Thanks for this Mark.
                </span>
                <span class="quoting">Alex, BMG.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    Really enjoyable day out, Mark is a fascinating instructor and I learned so much.<br/>
                    Amazing location in the beautiful countryside. Loved the fire-lighting, but firing the guns was the big highlight for me - so pleased to actually hit something!<br/>
                    Would highly recommend this, thanks.
                </span>
                <span class="quoting">Jon, BMG.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    I had a really fun day, Mark was amazing instructor - I learned a lot from him and loved his stories.<br/>
                    Location was perfect right in the middle of nowhere lol.<br/><br/>
                    Enjoyed lightening fires (my teams fire stayed alight longest), couldn't believe how easy it was to purify water and lastly got the opportunity to shoot a shotgun and some rifles which so cool!<br/>
                    I would definitely recommend - BEAR GRYLLS HERE I COME!!
                </span>
                <span class="quoting">Fethawi, BMG.</span>
            </blockquote>
            <blockquote>
                <span class="quote">
                    A very enjoyable and informative day spent in the Sussex countryside.<br/>
                    The schedule for the day was varied and interesting with plenty of breaks for tea and snacks.<br/>
                    Mark was a great teacher with many stories to share and put the group at ease through all the challenges and tasks.<br/>
                    The best part for me was the shooting competition which was challenging but fun.
                </span>
                <span class="quoting">Vinnie, BMG.</span>
            </blockquote>
        </div>
        </div>
    </div>
</section>