<section id="whatwedo">
    <div class="widthcontroll autoY on-colour pause-anim">
        <h2>WHAT WE DO</h2>
        <div class="adaptive">
        <div class="content full">
            <div class="sub pause-anim-x pause-anim-delay-1">
            <article>
                <h3>Team<span class="redBold">X</span>tremes - TEAM DEVELOPMENT</h3>
                <p>We also are company dedicated to delivering expert corporate team buiding and development training packages to companies and organisation through experience knowledge and mentoring. Fun days that will give individuals and companies an experience that many people outside certain circles never see.</p>
                <ul>
                <li>Basic Outdoor Survival Course - FIRE /FOOD/ SHELTER/ WATER - 1 day</li>
                <li>Basic Navigation course - 1 day</li>
                <li>Sniper day / paint ball - adventure</li>
                <li>OR CALL TO ARRANGE A BESPOKE EXPERENCE</li>
                </ul>
            </article>
            <img src="<%= require('../images/team_01.jpg') %>" alt="team event"/>
            </div>
            <div class="sub pause-anim-x pause-anim-delay-2">  
            <article>  
                <h3>Team<span class="redBold">X</span>tremes - MEDIA</h3>
                <p>Providing specialist services across the globe to different - Media companies and organizations that require specific skill sets.</p>
                <ul>
                <li>Military Advising to television and film</li>
                <li>Safety co-ordinating on remote locations</li>
                <li>Survival and wilderness living advice</li>
                <li>Scouting locations and Delivering Dynamic Risk Assessments</li>
                </ul>
            </article>
            <img src="<%= require('../images/tge_01.jpg') %>" alt="shooting target with smoke" />
            </div>
            <div class="sub pause-anim-x pause-anim-delay-3">
            <article>  
                <h3>Team<span class="redBold">X</span>tremes - WORLDWIDE ADVENTURES</h3>
                <p>We also have many contacts around the globe that help us provide bespoke experiences or adventures across the globe.</p>
                <ul>
                <li>Mongolia</li>
                <li>Vietnam</li>
                <li>Argentina</li>
                <li>Australia</li>
                <li>Antartica</li>
                </ul>
            </article>
            <img src="<%= require('../images/adventure_01.jpg') %>" alt="sunset jungle" />
            </div>
            <div class="sub pause-anim-x pause-anim-delay-4">
            <article>  
                <h3>Team<span class="redBold">X</span>tremes - BESPOKE TRAINING / SOCIAL DAYS / CLAY SHOOT DAYS</h3>
                <p>By arrangement.</p>
            </article>
            <img src="<%= require('../images/clay.jpg') %>" alt="shooting clay" />
            </div>
        </div>
        </div>
    </div>
</section>